@import 'styles/common.scss';

.header {
  font-size: $header-footer-font-size;
  height: $header-footer-height;
  background: $header-footer-bg-color;
  color: $header-footer-font-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-item {
    margin: 0 15px;
    user-select: none;
  }

  .login-btn,
  .status {
    font-size: 15px;
    cursor: pointer;
  }

  .button-loading {
    cursor: wait;
  }
}
