@import 'styles/common.scss';

.footer {
  font-size: $header-footer-font-size;
  height: $header-footer-height;
  background: $header-footer-bg-color;
  color: $header-footer-font-color;
  position: absolute;
  bottom: 0;
  width: 100%;
}
